<ul class="font-list">
  {% for item in index %}
    <li class="font-list_item">
    <label class="font-list_item-label">
      <input class="font-list_default-radio" type="radio" value={{item.name}} name="font">
      <div class="font-list_letter-block font-list_letter-block--{{item.color}}">
        {{item.letters}}
      </div>
      <div class="font-list_item-description">
        {{item.description}}
      </div>
    </label>
    </li>
  {% endfor %}
</ul>