.url-parser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.url-parser__img{
    display: block;
    width: 100%;
    max-width: 488px;
    height: auto;
    border-radius: 15px;
}